<a href="https://colab.research.google.com/github/surajgazi100/DATA_SCIENCE_STATISTICS/blob/main/UCI_REPO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
from google.colab import files
uploaded = files.upload()

Saving wine.csv to wine.csv

In [6]:
df1 = pd.read_csv('wine.csv',header=None)

In [7]:
df1.head()

   0      1     2     3     4    5   ...    8     9     10    11    12    13
0   1  14.23  1.71  2.43  15.6  127  ...  0.28  2.29  5.64  1.04  3.92  1065
1   1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
2   1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
3   1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
4   1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735

[5 rows x 14 columns]

In [8]:
df2 = pd.read_csv("wine.csv",header=None)
df2.head()

   0      1     2     3     4    5   ...    8     9     10    11    12    13
0   1  14.23  1.71  2.43  15.6  127  ...  0.28  2.29  5.64  1.04  3.92  1065
1   1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28  4.38  1.05  3.40  1050
2   1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81  5.68  1.03  3.17  1185
3   1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18  7.80  0.86  3.45  1480
4   1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82  4.32  1.04  2.93   735

[5 rows x 14 columns]

In [11]:
from google.colab import files
uploaded = files.upload()

Saving wine_names.xlsx to wine_names.xlsx

In [15]:
df3 = pd.read_excel("wine_names.xlsx",header=None)
df4 = df3[0].str[3:]
temp = ['class']
for i in range (0,len(df4)):
  temp.append(df4[i])
print(temp)
df1.columns=temp
print(df1.head())

['class', 'cohol\n', 'lic acid', 'h', 'calinity of ash', 'gnesium', 'tal phenols', 'avanoids', 'nflavanoid phenols', 'oanthocyanins', 'or intensity', '', '80/OD315 of diluted wines', 'line']
   class  cohol\n  lic acid  ...        80/OD315 of diluted wines  line
0      1    14.23      1.71  ...  1.04                       3.92  1065
1      1    13.20      1.78  ...  1.05                       3.40  1050
2      1    13.16      2.36  ...  1.03                       3.17  1185
3      1    14.37      1.95  ...  0.86                       3.45  1480
4      1    13.24      2.59  ...  1.04                       2.93   735

[5 rows x 14 columns]

for loading headers

In [16]:
df4 = pd.read_excel("wine_names.xlsx",header=None,skiprows=[0,1])
print(df4)

                               0
0                            Ash
1              Alcalinity of ash
2                      Magnesium
3                  Total phenols
4                     Flavanoids
5           Nonflavanoid phenols
6                Proanthocyanins
7                Color intensity
8                            Hue
9   OD280/OD315 of diluted wines
10                       Proline

Finally we have learned how to import excel data file from UCI website and use it for Analysis